.text {
  color: var(--fr-main-black);
  line-height: 24px;
  font-weight: 500;
  
  &.title {
    font-weight: 700;
    font-size: 1.625rem;
    line-height: 31.47px;
  }

  &.gray {
    color: var(--fr-main-gray70);
  }
  &.disabled {
    color: var(--fr-main-gray20)
  }
  &.no-wrap {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
