.available {
  background-color: var(--fr-main-gray70);
  border-radius: 50%;
  
  &__active {
    background-color: var(--fr-main-active);
  };

  &.lg {
    width: 23px;
    height: 23px;
    border: 4px solid var(--fr-main-white)
  };

  &.md {
    width: 12px;
    height: 12px;
    border: 2px solid var(--fr-main-white)
  }
}